.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: relative;
}

.introducao h1 {
    font-size: 4.5rem;
    line-height: 1.125;
    margin-bottom: 30px;
}

.introducao::before {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 18px;
    background-color: #807DA8;
    top: 98px;
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }

    .introducao::before {
        top: 78px;
    }
}